button {
  background-color: #408490;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #e1e1e1;
  color: #408490;
}


button span {
  padding-right: 0.2rem;
}
